:global * {
	box-sizing: border-box;
}

:global body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: Calibri;
}

.page {
	position: relative;
	min-height: 100%;
	max-width: 800px;
	margin: 0px auto;
	padding: 20px;

	background: #fff;
	border-top: none;
}

h1 {
	margin: 0;
}

h3 {
	margin: 5px 0px 15px;
}

.counters {
	display: flex;
	flex-direction: row;
}

.counter {
	flex: 1;
}

.footnote {
	margin-top: 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -20px;
	padding: 20px;

	background: #f5f5f5;
	color: #666;
	font-size: 0.9em;
	border-top: 1px solid #dedede;
}
